.h1{
    font-family: "Times New Roman", Times, serif;
    
    font-weight: 500;
    font-size: large;
    
   
  }
  .h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding-bottom: 10%;
  }
  /* Landing.css */
.slide-in-left {
    animation: slideInLeft 1s forwards;
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  