.user-details-container{
    background-color: antiquewhite;
}

.user-details{
    padding-left: 5%;
    padding-top: 2%;
}

.user-details-image{
    padding-left: 20%;
}

.buttons-container{
    padding: 0;
}



